.produtos {
    background-color: var(--lightgray-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    padding: 0px 50px 95px 50px;
}

.produtos h2 {
    font-size: 24px;
    color: var(--third-color);
    padding-top: 24px;
    width: 1300px;
}

.blocoProdutos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-self: center;
}

@media (max-width: 1300px) {
    .blocoProdutos {
        grid-template-columns: 1fr;
    }
    .produtos h2 {
        width: 635px !important;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .blocoProdutos {
        grid-template-columns: 1fr;
    }
    .produtos h2 {
        width: 635px !important;
        text-align: left;
    }
}

@media (max-width: 700px) {
    .produtos h2 {
        width: 365px !important;
        text-align: left;
    }

}