.container {
    position: relative;        
    width: 100%;
    margin-bottom: 40px;
    padding-top: 50px;
}

.titulo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.divInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;

}

.form {
    max-width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 85px;
    gap: 20px;
}

.campoTexto {
    width: 74%;
    display: flex;
    flex-direction: column;
}

.botao {
    width: 74%;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    flex-shrink: 0;
    box-shadow: #C4C4C4 2px 2px 5px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--green-hover);
}


.form label {
    width: 218px;
    height: 21px;
    font-weight: 500;
    font-size: 12px;
    color: var(--second-color);  
} 

.darkMode label{
    color: var(--white-pure);
}

.darkMode input {
    border-radius: 5px;
}

.darkMode .botao {
    box-shadow: none; 
}

.darkMode p {
    color: var(--white-color);
}

.form input {
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    padding-left: 10px
}

.error input {
    border: 2px solid var( --red-pure);
    background-color: rgba(255, 0, 0, 0.1);
}

.paragrafo {
    margin-top: -12px;
    font-size: 12px;
    font-weight: 500;
    color: var(--second-color);  
}

.form a {
   color: var(--blue-link);  
   text-decoration: none;
}

.error span {
    color: var(--red-pure);
    font-size: 10px;
}

@media (min-width: 768px) {
    .container {
        width: 648px;
        margin: auto;
        justify-content: center;
    }

    .form {
        margin-bottom: 0px;
    }

    .divInputs {
        display: flex;
        flex-direction: row;
        width: 74%;
        justify-content: center;
    }

    .divInputs input {
        width: 100%;
    }

    input {
        width: 100%;
    }

    .botao {
        width: 30%;
    }
}