.descricaoContainer {
    background-color: var(--white-pure);
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--gray-color);
}

.descricaoTitle, .ofertasTitle {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0px 20px 40px;
}

.descricaoText {
    padding: 0 40px 20px 40px;
    text-align: justify;
}

.ofertasTitle {
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
}

.ofertasGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px 0px 20px 40px;
}

.ofertaItem {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.ofertaItem img {
    width: 16px;
    height: 16px;
}

.ofertaItem p {
    color: var(--third-color);
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 768px) {
    .descricaoContainer {
        width: 100%; 
    }

    .ofertasGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 20px 0px 20px 40px;
    }
}

.darkMode {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.darkMode .ofertaItem p{
    color: var(--white-color);
}