.reservaForm {
    display: flex;
    /* height: 60vh; */
    background-color: var(--lightgray-color);
    padding-left: 20px;
}

.reservaFormLeft {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
}

/* INPUT DE INFOS */

.titleReserva {
    color: var(--third-color);
    font-size: 24px;
}

.input {
    width: 95%;
    background: var(--white-pure);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    border-radius: 5px; 
    box-shadow: #c4c4c4d2 3px 5px 5px;  
}

.inputItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputItem input {
    height: 40px;
    border: none;
    background-color: var(--lightgray-color);
    border-radius: 5px;
    box-shadow: #00000026 2px 2px 2px;
    padding: 1rem;
}

.inputItem label {
    font-size: 14px;
    font-weight: 700;
    color: var(--second-color);
}

.inputCidade {
    background-color: var(--white-pure) !important;
}

/* CALENDARIO */

.calendarioForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.calendarioFormTitle {
    width: 100%;
    font-size: 24px; 
    font-weight: 700;
    color: var(--third-color);
}

.calendarForm {
    width: 57vw !important;
    box-shadow: #C4C4C4 3px 5px 5px !important;
}

/* INPUT DE INFOS */

.horaChegadaForm {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.horaFormTitle {
    font-size: 24px; 
    font-weight: 700;
    color: var(--third-color);
}

.horaFormBody {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    padding: 25px;
    background-color: var(--white-pure);
    box-shadow: #C4C4C4 3px 5px 5px !important;
}

.horaFormCheckText {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 16px;
    font-weight: 700;
    color: var(--third-color);
}

.horaFormLabel{
    font-size: 14px;
    font-weight: 500;
    color: var(--third-color);
    padding-left: 5px;
}

.horaFormSelect {
    width: 55%;
    height: 40px;
    outline: none;
    border: 1.5px solid var(--lightgray-color);
    background-color: var(--white-pure);
    border-radius: 5px;
    padding: 0 1rem;
}

.reservaFormRight {
    width: 35%;
    margin: 75px 30px 0 0;
}

.reservaInfos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--white-pure);
    padding: 1rem; 
    border-radius: 5px; 
    box-shadow: #C4C4C4 3px 5px 5px !important;
}

.reservaTitle {
    font-size: 28px; 
    font-weight: 700;
    color: var(--third-color);
    padding-top: 5px;
}

.imageReserva {
    width: 100%;
}

.reservaHeaderInfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.reservaHeaderInfo span {
    color: var(--lightgray-color2);
    font-size: 14px;
    font-weight: bold;
}

.reservaHeaderInfo h3 {
    color: var(--second-color);
    font-size: 24px;
    font-weight: 700;
}
.star {
    color: var(--primary-color);
}

.reservaLocation{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.reservaLocation img {
    width: 15px;
}

.check {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--trace-gray-color);   
}

.checkTop {
    border-top: 1px solid var(--trace-gray-color); 
    padding-top: 24px;
}

.check p {
    color: var(--second-color);
    font-size: 20px;
    font-weight: 700;
    padding: 8px;
}

.check span {
    font-size: 20px;
}

.botaoReserva {
    height: 50px;
    width: 100%;
    color: var(--white-pure);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.botaoReserva:hover {
    background-color: var(--green-hover);
}



.darkMode {
    background-color: var(--dark-color3);
}

.darkMode .horaFormBody {
    background-color: var(--dark-color);
    box-shadow: var(--dark-color3) 3px 5px 5px !important;    
}

.darkMode .horaFormBody label {
    color: var(--white-pure);
}

.darkMode .horaFormBody select {
    background-color: var(--dark-color2);
    color: var(--white-pure);
}

.darkMode .horaFormCheckText svg {
    color: var(--white-pure);
}

.darkMode .horaFormCheckText p {
    color: var(--white-pure);
}


.darkMode .input{
    background-color: var(--dark-color);
    box-shadow: var(--dark-color3) 3px 5px 5px;  
}

.darkMode .reservaFormLeft h1 {
    color: var(--white-pure);
}

.darkMode .input input {
    background-color: var(--dark-color2);
}

.darkMode .input label {
    color: var(--white-pure);
}

.darkMode .reservaInfos {
    background-color: var(--dark-color);
    color: var(--white-pure);
    box-shadow: var(--dark-color3) 3px 5px 5px !important;   
}

.darkMode .reservaHeaderInfo span {
    color: var(--white-pure);
}

.darkMode .reservaHeaderInfo h3 {
    color: var(--white-pure);
}

.darkMode .check p {
    color: var(--white-pure);
}

.darkMode .calendarForm {
    background-color: var(--dark-color)!important;
    box-shadow: var(--dark-color3) 3px 5px 5px !important;  
}

.darkMode .calendarMobile {
    background-color: var(--dark-color)!important;
}

.darkMode .calendarForm button{
    color: var(--white-color)!important;
}

.darkMode .calendarMobile button{
    color: var(--white-color)!important;
}

.darkMode .calendarForm button:disabled{
    background-color: var(--dark-color2)!important;
}

.darkMode .calendarMobile button:disabled{
    background-color: var(--dark-color2)!important;
}

.darkMode .calendarForm button:hover{
    background-color: var(--dark-color2)!important;
}

.darkMode .calendarMobile button:hover{
    background-color: var(--dark-color2)!important;
}