.headerContainer {
    background-color: var( --third-color);
    display: flex;
    justify-content: space-between;
    padding: 12px 45px;
}

.headerConteudo {
    color: var(--white-pure);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.headerConteudo > span{
    font-size: 14px;
}

.headerConteudo > h2{
    font-size: 24px;
}

.headerButton {
    display: flex;
    align-items: center;
    color: var(--white-pure);
    border: none;
    cursor: pointer;
}


.locationContainer {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 12px 45px;
    color: #383B58;
    font-size: 14px;
}

.locationHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}

.localizacao {
    font-weight: 500;
}

.locationClassificacao {
    display: flex;
    align-items: center;
}

.classificacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.classificacao strong {
    background-color: var(--third-color);
    border-radius: 13px;
    padding: 4px 8px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: var(--white-pure);
}

@media(max-width: 480px) {
    
    .locationHeader img {
        width: 14px;
    }
    
    .localizacao {
        font-size: 12px;
    }
    .classificacao {
        font-size: 12px;
        gap: 5px;
    }

    .classificacao strong {
        border-radius: 15px;
        font-size: 14px;
    }

    .locationContainer {
        gap: 10px;
        padding: 12px 25px;
    }


}