.mecanismo {
    background-color: var(--third-color);
    color: var(--white-pure);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
    margin-bottom: 20px;
}

.formBusca {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.buscaSelect {
    width: 28vw;
    font-weight: 500;
    padding: 10px 28px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    appearance: none;
    color: var(--third-color);
    background-image: url('../../assets/icons/map.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 5px center;
    cursor: pointer; 
}

.buscaSelect option {
    color: var(--third-color);
    font-weight: 700;
}

.buscaDatas {
    width: 28vw;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--third-color);
    background-color: var(--white-pure);
    background-image: url('../../assets/icons/calendar.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 5px center;
    cursor: pointer;
    text-align: left; 
}

.buscaButton {
    background-color: var(--primary-color);
    color: var(--white-pure);
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buscaButton:hover {
    transition: 0.3s;
    background-color: var(--green-hover);
}

@media (max-width: 450px) {
    .mecanismo h1 {
        text-align: center;
        font-size: 28px;
    }

    .formBusca {
        width: 100%;
        flex-direction: column;
    }
    .buscaSelect {
        width: 100%;
    }
    .buscaInput {
        width: 100%;
    }
    .buscaButton {
        width: 100%;
    }

}

.darkMode {
    background-color: var(--dark-color2);
}

.calendarioForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.calendarModalMobile {
    display: none;
}

.modalCalendarTitle {
    color: var(--black-pure);
    font-size: 16px;
    font-weight: bold;
}

.okButton {
    background-color: var(--primary-color);
    color: var(--white-pure);
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 15px;
}

@media (max-width: 900px) {
    .calendarModalMobile {
        display: block;
    }
    .calendarModal {
        display: none;
    }
    .calendarioForm {
        padding-top: 80px;
    }
}