.containerInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--white-pure);
    color: var(--gray-color);
    height: 367px;
    margin-bottom: 40px;
}

.tituloInfo {
    height: 28px;
    size: 24px;
    line-height: 28.13px; 
    border-bottom: 1px solid var(--primary-color); 
    padding: 20px 0px 50px 40px;  
}

.bloco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0px 120px 0px;
}

.blocoInfo {
    padding: 0px 0px 0px 40px;
    margin-right: 100px;  
}

.blocoInfo p {
    color: var(--third-color);
    font-weight: 500;
    font-size: 14px;
    padding: 20px 0px 0px 0px;
    size: 14px;
    width: 245px;
    text-align: justify;
}

@media(max-width: 768px) {
    .blocoInfo  {
        margin: 0;
    }
}

@media(max-width: 608px) {
    .blocoInfo p {
        width: 265px;
    }
}

.darkMode {
    background-color: var(--dark-color2);
    color: var(--white-color); 
}

.darkMode .blocoInfo p {
    color: var(--white-pure); 
}
