.minhasReservas {
    padding-bottom: 80px;
}

.headerListaReservas {
    background-color: var( --third-color);
    display: flex;
    justify-content: space-between;
    padding: 18px 45px;
}

.headerListaReservasTitle {
    color: var(--white-pure);
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.headerListaReservasTitle span{
    font-size: 24px;
    font-weight: 700;
}

.headerListaReservasButton {
    display: flex;
    align-items: center;
    color: var(--white-pure);
    border: none;
    cursor: pointer;
}

.darkModeHeader {
    background-color: var(--dark-color2);
}

.avisoReservas {
    padding: 40px;
    font-size: 24px;
}

.darkMode p {
    color: var(--white-pure);
}