.main {
    min-height: 95.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.darkMode {
    background-color: var(--dark-color);
}