.categorias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 100%;
    align-items: center;
}

.categorias h2 {
    font-size: 24px;
    color: var(--third-color);
    width: 1300px;
}

.blocosCategorias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.categoriaItem {
    border-radius: 15px;
    width: 310px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid transparent;
}

.categoriaItem img {
    width: 310px;
    height: 180px;
}

.categoriaItemDesc {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 4px 8px 8px;
    color: var(--third-color);
}

.categoriaItemDesc h4 {
    font-size: 20px;
}

.categoriaItemDesc p {
    font-size: 12px;
    text-align: justify;
    opacity: 0.8;
}

.selecionado {
    border: 3px solid var(--primary-color);
    background-color: var(--lightgray-color);
}

.verTudoButton {
    background-color: var(--primary-color);
    color: var(--white-pure);
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.verTudoButton:hover {
    transition: 0.5s;
    background-color: var(--green-hover);
}

@media (max-width: 768px) {
    .blocosCategorias {
        flex-wrap: wrap;
        
    }
    .categorias h2 {
        width: 635px !important;
        text-align: left;
    }
}

@media (max-width: 735px) {
    .categorias h2 {
        width: 345px !important;
    }
}

@media (max-width: 1295px) {
    .categorias h2 {
        width: 960px;
    }
}

@media (max-width: 970px) {
    .categorias h2 {
        width: 640px;
    }
}

/* Dark Mode */

.darkMode h2 {
    color: var(--white-color);
}
.darkMode .categoriaItemDesc {
    color: var(--white-color);
}

.darkMode .categoriaItem{
    background-color: var(--dark-color2);
}

.darkMode .selecionado {
    background-color: var(--lightgray-color);
}