.localContainer {
    margin: 40px 0px;
}

.localTitle {
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    color: var(--gray-color);
    font-size: 24px;
    font-weight: 700;
    padding: 20px 20px 20px 40px;
}

.localInfo {
    padding: 20px 0px 20px 40px;
    color: var(--darkgray-color);
    font-size: 16px;
    font-weight: 700;
}

.localMap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    border: 1px solid var(--black-pure);
    height: 500px;
    width: 90%;
    z-index: 1;
}

.darkMode .localTitle{
    color: var(--white-color);
}

.darkMode .localInfo{
    color: var(--white-color);
}