/* Desativando botões de passar o ano*/
.react-calendar__navigation__next2-button {
    display: none !important;
}

.react-calendar__navigation__prev2-button {
    display: none !important;
}

.react-calendar {
    width: 45vw !important;
    padding: 25px 50px !important;
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) !important;
}

.react-calendar__navigation {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.react-calendar__navigation__arrow {
    background-color: #1DBEB4 !important;
    border-radius: 45px !important;
    font-size: 24px !important;
    padding: 1px 12px !important; 
    min-width: 0 !important;
}

.react-calendar__navigation__arrow:hover {
    opacity: 0.7 !important;
}

.react-calendar__navigation__label {
    font-weight: bold !important;
    padding: 5px 0px !important;
    flex-grow: 0 !important;
}

.react-calendar__navigation__label__labelText {
    text-transform: capitalize !important;
}

.react-calendar__viewContainer {
    gap: 15px !important;
}

.react-calendar__tile {
    color: var(--second-color) !important;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif !important;
}

.react-calendar__tile:disabled {
    color: var(--lightgray-color2) !important;
    font-weight: 700 !important;
    text-decoration: line-through !important;
}

.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none !important; 
}

.react-calendar__month-view__days__day--neighboringMonth abbr{
    opacity: 0.5 !important;
}

@media (max-width: 768px) {
    .react-calendar  {
        width: 80vw !important;
    }
}
