.calendarioContainer {
    margin-top: 40px;
    background-color: var(--lightgray-color);
    color: var(--second-color);
    padding: 20px 40px 20px 40px;
}

.calendarioTitle {
   font-size: 24px; 
   font-weight: 700;
}

.calendarioSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendario {
    padding: 25px;
}

.calendarDesktop {
    display: block;
}

.calendarMobile {
    display: none;
}

.reserva {
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white-pure);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reserva p {
    font-size: 16px;
    font-weight: bold;
    color: var(--darkgray-color);
}

.reserva button {
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: var(--white-pure);
    font-size: 16px;
    font-weight: 700;
}

.reserva button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {

    .calendarioSection {
        gap: 40px;
        flex-direction: column;
    }
    .reserva {
        margin-bottom: 20px;
    }
}

@media (max-width: 610px) {
    .calendarDesktop {
        display: none;
    }
    
    .calendarMobile {
        display: block;
    }
}

.darkMode {
    background-color: var(--dark-color2);
    color: var(--white-color);
}

.darkMode .reserva {
    background-color: var(--dark-color);
}

.darkMode .reserva p{
    color: var(--white-color);
}

.darkMode .calendarDesktop, .calendarMobile {
    background-color: var(--dark-color)!important;
}

.darkMode .calendarDesktop button{
    color: var(--white-color);
}

.darkMode .calendarMobile button{
    color: var(--white-color);
}

.darkMode .calendarDesktop button:disabled{
    background-color: var(--dark-color2);
}

.darkMode .calendarMobile button:disabled{
    background-color: var(--dark-color2);
}

.darkMode .calendarDesktop button:hover{
    background-color: var(--dark-color2);
}

.darkMode .calendarMobile button:hover{
    background-color: var(--dark-color2);
}