.card {
    background-color: var(--white-pure);
    color: var(--second-color);
    display: flex;
    gap: 5px;
    width: 635px;
    height: 283px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 6px 16px;
}

.cardImage img {
    width: 311px;
    height: 283px;
    border-radius: 10px;
}

.cardText {
    padding: 8px 5px;
}

.cardCategoryStars {
    display: flex;
    justify-content: space-between;
}

.star {
    color: var(--primary-color);
}

.cardCategory {
    opacity: 0.8;
    font-size: 14px;
    padding-bottom: 1px;
    padding-right: 10px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 700;
}

.cardLocation {
    padding-top: 20px;
}

.cardDescription {
    padding: 70px 14px 0px 0px;
    font-weight: 500;
    text-align: justify;
    height: 130px;
    margin-bottom: 5px;

    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardButton {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--primary-color);
    color: var(--white-pure);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);

    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.cardButton:hover {
    transition: 0.3s;
    background-color: var(--green-hover);
}

@media (max-width: 700px) {
    .card {
        width: 380px;
        height: 525px;
        flex-direction: column;
    }

    .cardImage img {
        width: 100%;
        height: 280px;
    }

    .cardDescription {
        padding: 40px 14px 0px 0px;
        height: 80px;
        -webkit-line-clamp: 2; 
    }

}

.darkMode {
    background-color: var(--dark-color);
    color: var(--white-color);
}