.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 58px;
    position: fixed;
    z-index: 98;
    width: 100%;
    bottom: 0;
}

.copyright {
    font-size: 14px;
    font-weight: 700;
}

.lista {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.lista li {
    list-style: none;
    width: 26px;
    height: 24px;
    cursor: pointer; 
}

@media (max-width: 580px) {
    .lista li {
        display: none;
    }
}

.darkMode {
    color: var(--dark-color2);
}